/// Changing bootstrap
$primary: purple;
@import "~bootstrap/scss/bootstrap";

body {
	background-color: lightgrey;
}


h2 {
	text-align: center;
	
}

.btn {
	display: block;
	margin: auto;
}

.img {
	display: block;
	margin: auto;

	&1 {
		width: 300px;
		height: 300px;
	}
}
